<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<!-- load NLog.Extended to enable ASP.NET-specific functionality -->
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<!-- define various log targets -->
	<targets>
		<!-- write logs to file -->
		<target name="logFile" xsi:type="File" 
				fileName="${basedir}/logs/nlog-${shortdate}.log" 
				layout="${longdate} ${aspnet-request:servervariable=URL} ${uppercase:${level}} ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logFile" />
	</rules>
</nlog>